---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: external-dns
  namespace: flux-system
spec:
  chart:
    spec:
      chart: external-dns
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    serviceAccount:
      create: false
      name: sa-external-dns
    region: us-west-2
    clusterName: eks-fluxcd-lab
    domainFilters: ["dallin.brewsentry.com"]
    policy: sync
  interval: 2m0s
  releaseName: external-dns
  targetNamespace: kube-system
